<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>create post</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div>
                    <a href="/home">Home</a>
                </div>
                <div>
                    <a href="create">Create Post</a>
                </div>
                <div>
                    <a href="/view">View Posts</a>
                </div>
                <div>
                    <a href="logout">Logout</a>
                </div>
            </div>
            <div class="col-md-8">
                {{#if postCreated}}
                   <div class="alert alert-success">
                      post created successfully!
                   </div>
                {{/if}}
                <h1>Add Post</h1>
                <form action="/create" method="POST" enctype="multipart/form-data" class="form-group mt-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="100" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" name="pic" id="pic">
                </div>
                <div class="form-group">
                 <button class="btn btn-primary mt-2">Create Post</button>
                </div>
                </form>
            </div>

</body>
</html>