<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Login Form</title>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="blog1.png" alt="blog1" width=700px; height=600px;>
            </div>
            <div class="col-md-4 offset-md-4 ">
                <h3 class="mt-5">Login Form</h3 class="mt-5">
                <form action="/validateUser" method="POST" class="form-group mt-5">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>


                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    {{#if errorObj}}
                     <div class="alert alert-danger">
                         {{errorObj}}
                     </div>
                     {{/if}}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                </form>
                <div>
                    Doesn't have an account? 
                    <a href="signup">Signup</a>
                </div>
            </div>
            
        </div>
    </div>
      
</body>

</html>